<p-growl [value]="msgs" [life]="10000"></p-growl>
<div style="background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/resources/css/backg/ibg.jpg);
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/resources/css/backg/ibg.jpg);
background-size: cover;
background-position: center;
height: 100vh;
background-attachment: fixed;



height:100%;width:100%;text-align:center; position: absolute; z-index: 100;">
                <div style="padding-top:15%">
                <img src="./assets/sources/logo.png" style="height:300px;"/>
                </div>

                <div style="margin-top:5%">
                    <img src="./assets/sources/loading.gif" *ngIf="cargando"/>
                    <button pButton type="button" label="Acceder" (click)="login()" *ngIf="!cargando"></button>
                </div>
            </div>
