<p-toolbar>
  <div class="ui-toolbar-group-right">
    <button pButton type="button" label="Inicio" icon="fa-home" (click)="irInicio()"></button>
  </div>
  </p-toolbar>
<div class="ui-g ui-fluid section-pasajero" style="background-color:#f6a828">
  <div style="width:100%">
  <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12">
    <p-dropdown [options]="lugares()" [(ngModel)]="origen" [autoWidth]="false" placeholder="Origen">
                <template let-ubi pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <img src="{{ubi.urlBandera}}" style="width:24px;position:absolute;top:1px;left:5px" />
                  <div style="font-size:14px;float:right;margin-top:4px">{{ubi.label}}</div>
                </div>
              </template>
            </p-dropdown>
  </div>
  <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12">
    <p-dropdown [options]="lugares()" [(ngModel)]="destino" [autoWidth]="false" placeholder="Destino">
                <template let-ubi pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <img src="{{ubi.urlBandera}}" style="width:24px;position:absolute;top:1px;left:5px" />
                  <div style="font-size:14px;float:right;margin-top:4px">{{ubi.label}}</div>
                </div>
              </template>
            </p-dropdown>
  </div>
  <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12" >
    <p-calendar [(ngModel)]="fecha" [monthNavigator]="true" [inline]="false" placeholder="Fecha"></p-calendar>
  </div>
<div *ngIf="destino&&origen&&fecha">
<button pButton type="button" label="Buscar" (click)="busquedaCupo()" ></button>
<br/>
<p-dataList [value]="cupos | async" [paginator]="true"   [rows]="5" >
  <template let-eventod pTemplate="item">



                   <!-- <div class="ui-grid-col-6" style="text-align:center">
                     <div class="ui-grid ui-grid-responsive ui-fluid">
                       <div class="ui-grid-row">
                               <div class="ui-grid-col-12"><a href="https://facebook.com/{{eventod.piloto}}" target="_blank"><img style="border-radius: 50%;height: 100px;width: 100px;" src="{{eventod.fotoUrl}}"></a></div>
                           </div>
                           <div class="ui-grid-row">
                               <div class="ui-grid-col-12"><a style="font-style: oblique;font-weight: bold;color: rgb(246, 168, 40);" href="https://facebook.com/{{eventod.piloto}}" target="_blank">{{eventod.nombrePiloto}}</a></div>
                           </div>
                     </div>
                      <div class="ui-grid-col-6">
                         <div class="ui-grid-col-12" style="font-style: italic;">{{eventod.descripcion}} </div>
                           <div class="ui-grid-col-12" style="font-weight: bold;"><h3>Hora: {{eventod.hora}}</h3></div>
                     </div>
                   </div> -->







      <div class="ui-grid ui-grid-responsive ui-fluid" style="background-color:none;">
        <h4></h4>

          <div class="ui-grid-row">

              <div class="ui-grid-col-3" style="text-align:center">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                  <div class="ui-grid-row">
                          <div class="ui-grid-col-12"><a href="https://facebook.com/{{eventod.piloto}}" target="_blank"><img style="border-radius: 50%;height: 100px;width: 100px;" src="{{eventod.fotoUrl}}"></a></div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-grid-col-12"><a style="font-style: oblique;font-weight: bold;color: rgb(246, 168, 40);" href="https://facebook.com/{{eventod.piloto}}" target="_blank">{{eventod.nombrePiloto}}</a></div>
                      </div>
                </div>
              </div>
              <div class="ui-grid-col-9">
                  <div class="ui-grid ui-grid-responsive ui-fluid">
                      <div class="ui-grid-row">
                          <div class="ui-grid-col-12" style="font-style: italic;">{{eventod.descripcion}}</div>
                      </div>
                      <div class="ui-grid-row">
                            <div class="ui-grid-col-2" style="font-weight: bold;"><h3>Hora: {{eventod.hora}} </h3> </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </template>
</p-dataList>
</div>
</div>
</div>
