<p-toolbar>
  <div class="ui-toolbar-group-right">
    <button pButton type="button" label="Inicio" icon="fa-home" (click)="irInicio()"></button>
  </div>
  </p-toolbar>
<div class="ui-g ui-fluid section-pasajero" style="background-color:#f6a828">
  <div style="width:100%">
  <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12">
    <p-dropdown [options]="lugares()" [(ngModel)]="origen" [autoWidth]="false" placeholder="Origen">
                <template let-ubi pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <img src="{{ubi.urlBandera}}" style="width:24px;position:absolute;top:1px;left:5px" />
                  <div style="font-size:14px;float:right;margin-top:4px">{{ubi.label}}</div>
                </div>
              </template>
            </p-dropdown>
  </div>
  <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12">
    <p-dropdown [options]="lugares()" [(ngModel)]="destino" [autoWidth]="false" placeholder="Destino">
                <template let-ubi pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <img src="{{ubi.urlBandera}}" style="width:24px;position:absolute;top:1px;left:5px" />
                  <div style="font-size:14px;float:right;margin-top:4px">{{ubi.label}}</div>
                </div>
              </template>
            </p-dropdown>
  </div>
  <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12" >
    <p-calendar [(ngModel)]="fecha" [monthNavigator]="true" [inline]="false" placeholder="Fecha"></p-calendar>
  </div>
<div *ngIf="destino&&origen&&fecha">
<button pButton type="button" label="Buscar" (click)="busquedaCupo()" ></button>
<br/><br/><br/>

<div class="ui-g ui-fluid">
  <div class="ui-g-4 ui-lg-3 ui-md-4 ui-sm-12 mdl-card mdl-shadow--2dp mdl-card--horizontal" *ngFor="let cupo of cupos | async">
    <div class="mdl-card__media">
    <img src="{{cupo.fotoUrl}}" alt="img">
  </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Get Started</a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple"><i class="material-icons">share</i></button>
    </div>
  </div>
</div>


<div *ngIf="busco&&(cupos | async)?.length == 0">
NO HAY CUPO
</div>
</div>
</div>
</div>
