<div style="height:100%;width:100%;text-align:center;background-color:#20272a; position: absolute; z-index: 100;" *ngIf="!dispSchedule">
                <div style="padding-top:15%">
                <img src="./assets/sources/logo.png" style="height:300px;"/>
                </div>
                
                <div style="margin-top:5%">
                    <img src="./assets/sources/loading.gif" *ngIf="cargando"/>
                    <button pButton type="button" label="Acceder" (click)="login()" *ngIf="!cargando"></button>
                </div>
            </div> 	
	<button pButton type="button" label="Crear Evento" (click)="preCrearEvento()" *ngIf="dispSchedule"></button>
	<p-schedule [events]="eventos | async" (onEventClick)="showDialog($event)" *ngIf="dispSchedule" [header]="header" [defaultView]="'agendaWeek'"></p-schedule>
	<div class="row">
		<p-dialog  [(visible)]="display" [modal]="true" >
			<div class="col-xs-12 col-sm-6 col-md-8">
				<header>
					<div class="profile">
					<img src="{{event.fotoUrl}}" class="profile-picture"/>
					<p class="profile-name">{{event.nombreUsuario}}</p>
					</div>
				</header>   
				<div class="event">
	    			<p>{{event.descripcion}}</p>
	   				<p>{{event.origen}}</p>
	   				<p>{{event.destino}} </p>
	    			<p>{{event.start}}</p> 
	    			<p>{{event.end}}</p> 
	    			<p>{{event.descripcion}}</p>  
	    		</div>
	    	</div>
		</p-dialog>
		
		<p-dialog  [(visible)]="displayCrear" [modal]="true" >
		       <header>
					Crear nuevo evento
				</header> 
			<div class="col-xs-12 col-sm-6 col-md-8">				  
				<div class="event">
	   				<p>{{event.origen}}</p>
	   				<p>{{event.destino}} </p>
	    			<p>{{event.start}}</p> 
	    			<p>{{event.end}}</p> 
	    			<p>{{event.descripcion}}</p>  
	    		</div>
	    	</div>
		</p-dialog>
</div>