<section class="section-ibg" style="height:100%;">

            <div class="row">
                <div class="col span-1-of-3">
                  <br>
                    <br>
                      <br>
                        <br>
                </div>
                <div class="col span-1-of-3">

              <h1>Viaja por Colombia.<br>Comparte.</h1>
              <br><h3>¿Qué eres?</h3>
              <a class="btn btn-ghost js--scroll-to-start" href="javascript:;"  (click)="pasajero()">Pasajero</a>
              <a class="btn btn-ghost js--scroll-to-start" href="javascript:;" (click)="piloto()">Piloto</a>


                </div>
                <div class="col span-1-of-3">
                <br>
                <br>
                  <br>
                    <br>
                      <br><br>
                        <br>
                          <br>
                            <br><br>
                              <br>
                                <br>
                                  <br>
                                  <br>
                                  <br>
                                  <!-- <fb-page href="https://www.facebook.com/Expreso-Ride-Community-1375368689192856"></fb-page> -->
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>

                </div>
            </div>
        </section>
