<section class="section-ibg" style="height:100%;">
    <div class="wrapper">
      <h1>Viaja por Colombia.<br>Comparte.</h1>
      <h3>¿Qué eres?</h3>
       <div class="d-flex">
         <a class="btn btn-ghost js--scroll-to-start mx-1" href="javascript:;"  (click)="pasajero()">Pasajero</a>
         <a class="btn btn-ghost js--scroll-to-start mx-1" href="javascript:;" (click)="piloto()">Piloto</a>
       </div>
      <!-- <fb-page href="https://www.facebook.com/Expreso-Ride-Community-1375368689192856"></fb-page> -->
    </div>

</section>
