<section class="section-piloto">

            <div class="row">
                <div class="col span-1-of-3">
                  <br>
                    <br>
                      <br>
                        <br>
                </div>
                <div class="col span-1-of-3">

              <h1>Viaja a Ibague.<br>Viaja a Bogota.</h1>
              <a class="btn btn-full js--scroll-to-plans" href="javascript:;"  (click)="pasajero()">Pasajero</a>
              <a class="btn btn-ghost js--scroll-to-start" href="javascript:;" (click)="piloto()">Piloto</a>


                </div>
                <div class="col span-1-of-3">
                <br>
                <br>
                  <br>
                    <br>
                      <br><br>
                        <br>
                          <br>
                            <br><br>
                              <br>
                                <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>

                </div>
            </div>
        </section>


        <section class="section-testimonials">
                    <div class="row">
                        <h2>Conectate con otros de pegate la rodadita</h2>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <blockquote>
                                 La aplicacion es de gran ayuda para encontrar cupos y personas que hacen que el viaje sea mejor
                                <cite><img src="assets/resources/img/customer-1.jpg">Alberto Duncan</cite>
                            </blockquote>
                        </div>
                        <div class="col span-1-of-3">
                            <blockquote>
                               El hecho de que la aplicacion este conectada con el grupo de Facebook la hace mas segura
                                <cite><img src="assets/resources/img/customer-2.jpg">Joana Silva</cite>
                            </blockquote>
                        </div>
                        <div class="col span-1-of-3">
                            <blockquote>
                        Con la aplicacion ya no tengo que mirar todos los comentarios , si no que me muestra quien tiene cupos haciendolo todo mas rapido.
                            <cite><img src="assets/resources/img/customer-3.jpg">Milton Chapman</cite>
                            </blockquote>
                        </div>
                    </div>
                </section>
